{% extends 'mainapp/base.html'%}
{%load static %}

{% block title'%}
    <title>Главная</title>
 {%endblock%}

{%block css%}
    <!--<link rel="stylesheet" href="/static/css/styles.css">-->
    <link rel="stylesheet" href="{%static '/css/styles.css' %}">
    {%endblock%}

{%block content%}
    <h1 class="test">Главная</h1>
    <h2>Привет, {{username|title}}!</h2>
    {% if username == 'Гость' %}
        <div>Ты Гость</div>
    {%else%}
        <div>Ты не Гость</div>
    {%endif%}
    <ul>
        {%for item in array%}
            <li>element {{item}}</li>
        {%endfor%}
    </ul>
    {%endblock%}


